<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Frigg CI</title>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,400italic' rel='stylesheet' type='text/css'>
  <style>
    body {
      font-family: Roboto, sans-serif;
      font-weight: 100;
      text-align: center;
      font-size: 20px;
    }
    h1 {
      margin-top: 5em;
      font-weight: 300;
      margin-bottom: 0.4em;
    }
    p {
      margin-top: 0;
      font-size: 0.9em;
    }
    a {
      color: #333;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <h1>Sorry, something went terribly wrong.</h1>
  <p>Our team of developers has been notified and will look into the problem.</p>
  <a href="https://ci.frigg.io/">ci.frigg.io</a>
</body>
</html>
