<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">

    <title>Frigg Continuous Integration Server</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/">Overview</a></li>
        </ul>
        <h3 class="text-muted">Frigg Continuous Integration Server</h3>
    </div>

    {% block content %}

        <div class="row builds">
            <div class="col-lg-12">

                <h2>Builds</h2>

                {% for build in builds %}
                    {% if build.result %}
                        <a href="{% url "view_build" build.get_owner build.get_name build.pull_request_id %}">
                            <div class="bs-callout bs-callout-{{ build.result.get_status }}">
                                <h4>{{ build.get_owner }} / {{ build.get_name }}</h4>

                                <p>{{ build.result.get_status }}</p>
                            </div>
                        </a>
                    {% else %}
                        <div class="bs-callout bs-callout-pending">
                            <h4>{{ build.get_owner }} / {{ build.get_name }}</h4>

                            <p>pending</p>
                        </div>
                    {% endif %}

                {% endfor %}

            </div>
        </div>

    {% endblock %}

    <div class="footer">
        <p>Tind Technologies AS</p>
    </div>

</div>

</body>

{% block js %}{% endblock %}

</html>
