{% load compressed %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">

  <title>Frigg Continuous Integration Server</title>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ STATIC_URL }}vendor/pure/pure-min.css">
  <!--[if lte IE 8]> <link rel="stylesheet" href="{{ STATIC_URL }}vendor/pure/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="{{ STATIC_URL }}vendor/pure/grids-responsive-min.css">
  <!--<![endif]-->
  {% compressed_css 'main' %}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
          <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
<div class="container">
  <div class="pure-g header-grid">
    <div class="pure-u-1 pure-u-md-3-5">
      <a href="/" class="header">
        <h2>Frigg Continuous Integration</h2>
      </a>
    </div>
    <div class="pure-u-1 pure-u-md-2-5 navigation">
      <ul>
        {% if projects_to_approve %}
        <li><a href="/approve-projects/" class="pure-button green">
            ({{projects_to_approve}}) new!</a>
        </li>
        {%endif%}

        <li><a href="/" class="pure-button">Overview</a></li>

        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}" class="pure-button">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}" class="pure-button">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="pure-g content-grid{% if request.path != '/' %} ninthy-percent{% endif %}">

    {% block content %}{% endblock %}
  </div>
</div>
<script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>

{% block js %}{% endblock %}
{% if not debug %}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-55876284-2', 'auto');
    ga('send', 'pageview');
  </script>
{% endif %}
</body>
</html>
