<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">

        <title>Frigg Continuous Integration Server</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="/">Overview</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
                <a href="/">
                <h3 class="text-muted">Frigg Continuous Integration Server</h3>
                </a>
            </div>
            {% block content %}{% endblock %}
        </div>

        <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>
        {% block js %}{% endblock %}
    </body>
</html>
