<!DOCTYPE html>
<html manifest="/app.manifest">
  <head>
    <title>Frigg CI</title>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='description' content='' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:700,400,300,100" rel="stylesheet" type="text/css">
    <script src="//cdn.ravenjs.com/1.1.15/jquery,native/raven.min.js"></script>
    <link href="/static/react-version.css" rel="stylesheet" />
  </head>
  <body>
    <div id="content"></div>
    <script src="/static/react-version.js"></script>
    <script>
      Raven.config({{ sentry_dsn }}, {
        release: '0.1.0'
      }).install();
    </script>
  </body>
</html>
