$background-color: #fafafa
$link-color: #333


body
  background: $background-color

a
  color: $link-color


@media screen and (min-width: 35.5em)
  .container
    max-width: 1000px
    margin: 0 auto
