{% load emoji_tags %}
<div class="pure-g build-list-item {{ build.color }}">
  <div class="pure-u-1">
    <h4>
      <a href="{% url 'view_build' build.project.owner build.project.name build.build_number %}">
        {{ build.project.owner }} / {{ build.project.name }} / {{ build.branch }}
        <span class="build-number">#{{ build.build_number }}</span>
      </a>
    </h4>
    <div class="meta">
      {% if build.message %}
        <span class="message">{{ build.short_message|emoji_replace }}</span>
      {% endif %}
      {% if build.created_at %}
        <span class="timestamp"><i class="fa fa-clock-o"></i> {{ build.created_at|timesince }}</span>
      {% endif %}
      <span class="sha"><a href="{{ build.commit_url }}"><i class="fa fa-slack"></i> {{ build.sha|slice:':8' }}</a></span>
      {% if build.author %}
        <span class="author"><a href="https://github.com/{{ build.author }}">
          <i class="fa fa-user"></i> {{ build.author }}
        </a></span>
      {% endif %}
      {% if build.pull_request_id %}
        <span class="pull-request"><a href="{{ build.pull_request_url }}"><i class="fa fa-code-fork fa-rotate-180"></i> {{ build.pull_request_id }}</a></span>
      {% endif %}
    </div>
  </div>
</div>
