{% extends "base.html" %}
{% load i18n %}

{% block js %}
  <script src="{{ STATIC_URL }}js/ansi_up.js"></script>
  <script src="{{ STATIC_URL }}js/colorify.js"></script>
{% endblock js %}

{% block content %}
  <div class="pure-u-1">
    <h3>
      {{ build.project.owner }} / {{ build.project.name }} / {{ build.branch }}
      <a href="{{ build.pull_request_url }}" class="no-underline"><i class="fa fa-github"></i></a>
    </h3>
    <strong>{% trans 'Branch' %}:</strong> {{ build.branch }} <br/>
    <strong>{% trans 'Commit hash' %}:</strong> {{ build.sha }} <br/>
    <strong>{% trans 'Timestamp' %}:</strong> {{ build.created_at }} <br/>
    <strong>{% trans 'State' %}:</strong>
    {% if not build.result %}
      {% trans 'pending' %}
    {% elif build.result.succeeded %}
      {% trans 'success' %}
    {% else %}
      {% trans 'failure' %}
    {% endif %}
  </div>

  <div class="pure-u-1">
    {% if build.is_pending %}
      {% include "builds/partials/loading.html" %}
    {% else %}
      <div class="build-logs">
        {% for task, log, return_code in build.result.tasks %}
          <h3>{{ task }} <span class="meta">Return code: {{ return_code }}</span></h3>
          <pre><code class="colorify">{{ log }}</code></pre>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
