{% extends "base.html" %}

{% block content %}
    <div class="row builds">
        <div class="col-xs-12">
            {% for build in builds %}
                <a href="{% url 'view_build' build.project.owner build.project.name build.build_number %}">

                    {% if build.result %}
                        <div class="row build bs-callout bs-callout-{{ build.result.get_status }}">
                    {% else %}
                        <div class="row build bs-callout bs-callout-pending">
                    {% endif %}

                        <div class="col-xs-1 build-number"><h4>#{{ build.build_number }}</h4></div>
                        <div class="col-xs-11">
                            <h4>
                                {{ build.project.owner }} /
                                {{ build.project.name }} /
                                {{ build.branch }}
                            </h4>
                            <span class="sha">{{ build.sha }}</span>
                        </div>

                    </div>

                </a>


            {% endfor %}

        </div>
    </div>
{% endblock %}
